PROJECT_NAME=movies

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

ELASTIC_HOST=127.0.0.1
ELASTIC_PORT=9200
ELASTIC_SCHEMA=http://

AUTH_GRPC_HOST=127.0.0.1
AUTH_GRPC_PORT=50051
AUTH_GRPC_TIMEOUT_SECONDS=0.3

LOG_JSON=true
LOG_LEVEL=INFO

OTEL_ENABLED=true
OTEL_SERVICE_NAME=content-api
OTEL_SERVICE_VERSION=0.1.0
OTEL_ENVIRONMENT=development
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
OTEL_EXPORTER_OTLP_INSECURE=true
